<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Next to Jump</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="margin: 5px;">
  <button (click)="filterRaces()" style="padding: 10px;">All</button>
  <button (click)="filterRaces(1)">
    <img src="assets/images/horseracing.svg" width="32px" height="32px">
  </button>
  <button (click)="filterRaces(2)">
    <img src="assets/images/greyhoundracing.svg" width="32px" height="32px">
  </button>
  <button (click)="filterRaces(3)">
    <img src="assets/images/harnessracing.svg" width="32px" height="32px">
  </button>
</div>
<table mat-table [dataSource]="filteredRaces">
  <ng-container matColumnDef="eventIcon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><img src="assets/images/{{element.icon}}.svg" width="32px" height="32px">
    </td>
  </ng-container>
  <ng-container matColumnDef="eventTitle">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <span style="color: #243a80; font-size:12px"> {{ element.venue }} </span>
      <br />
      <span style="color:#afafaf; font-size:12px"> {{ element.name }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="eventTime">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" style="font-size:12px"> {{ element.time | date:'medium':'+1000' }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>